@font-face {
  font-family: NotoSansSC;
  src: url("./fonts/NotoSansSC-VariableFont_wght.ttf");
}
@font-face {
  font-family: DM Sans;
  src: url("./fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: Comic Mono;
  src: url("./fonts/ComicMono.ttf");
}

:root {
  scroll-behavior: smooth;
  --header-height: 4rem;
  --ui-foreground: var(--color-gray-800);
  --ui-background: var(--color-primary-50);
}

:root.dark {
  --ui-background: var(--color-gray-900);
  --ui-foreground: var(--color-gray-200);
}

body {
  --tw-bg-opacity: 0.3;
  background-color: rgb(var(--ui-background) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--ui-foreground) / var(--tw-text-opacity));
  font-family: Comic Mono, NotoSansSC, "DM Sans Fallback: Arial",  ui-sans-serif, system-ui, sans-serif;
}

/* 解决滚动条抖动问题 */
:root {
  overflow-y: scroll;
}